* {
  margin: 0px;
  padding: 0px;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.derecha {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.izquierda {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #0e1215;
  box-sizing: border-box;
  margin: 0;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
nav ul li p{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.logo {
  color: white;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}
.t{
  color: white;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 700;
  text-decoration: none;
  margin: 0px;

}
.clearfix {
  clear: both;
}
nav ul li a.active,
nav ul li a:hover {
  background: #56a9ff;
  color: white;
  transition: 0.5s;
}
nav ul li p.active,
nav ul li p:hover {
  background: #56a9ff;
  color: white;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  header {
    margin: 0px;
  }
}
@media (max-width: 858px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: black;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #56a9ff;
  }
  .menu-toggle:before {
    content: "A";
  }
  .menu-toggle.active:before {
    content: "B";
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
}
